.stories {
    margin-top: 2rem;
    display: flex;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    background: white;
    border-radius:2px;
    overflow: auto;
    border: 1px solid lightgray;
}
.stories >.story__avatar > .MuiAvatar-root {
    margin-bottom: 4px;
    height: 65px;
    width: 65px;
    padding: 2px;
    border: 2px solid red;
}
.stories >.story__avatar > .MuiAvatar-root > .MuiAvatar-img {
    padding: 0.001;
    border-radius: 50%;
    object-fit: contain;
}
.story__avatar {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    align-items: center;
    justify-content:center;
    
}
.story__avatar h4 {
    font-weight: 500;
    font-size: small;
}
.stories::-webkit-scrollbar {
    display: none;
}