.image > img {
    height: 17rem;
    width: 17rem;
    cursor: pointer;
    margin-bottom: 1.3rem;
    object-fit: cover;
    position: relative;
}
.image > img:hover {
    filter: brightness(50%); 
}
@media screen and (max-width:1400px) {
    .image > img {
        height: 14rem;
        width: 14rem;
        margin-bottom: 0.8rem;
    }
}

@media (min-width: 623px) and (max-width:630px) {
    .image > img {
        height: 15rem;
        width: 15rem;
        margin-bottom: 1.2rem;
    }
}
@media screen and (max-width:622px) {
    .image > img {
        height: 14rem;
        width: 14rem;
        margin-bottom: 1.2rem;
    }
}
@media screen and (max-width:602px) {
    .image > img {
        height: 26rem;
        width: 26rem;
        margin-bottom: 1.2rem;
    }
}
@media screen and (max-width:525px) {
    .image > img {
        height: 23rem;
        width: 23rem;
        margin-bottom: 1.2rem;
    }
}
@media screen and (max-width:362px) {
    .image > img {
        height: 11rem;
        width: 11rem;
        margin-bottom: 1.2rem;
    }
}